body {
  background-color: white;
  margin: 0;
  font-family: 'Noticia Text', serif;
}




/*Card styling*/
/* .allNews {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.newsTitle {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.headText {
  margin-top: 30px;
}

.newsDesc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.newsAuthor {
  margin-right: 10px;
  color: purple;
}

.newsPublished {
  margin-right: 10px;
}

.newsSource,
.newsPublished {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}

.newsImage {
  align-items: center;
  width: 320px;
  height: 200px;
}

.button {
  padding: 1px;
  display: flex;
  gap: 5%;
}
 */
